# Export all names
export(MRS)
export(MBCr)
export(MBCp)
export(MBCn)
export(QDM)
export(R2D2)
export(rot.random)
export(escore)
importFrom("FNN", "knnx.index")
importFrom("energy", "edist")
importFrom("Matrix", "nearPD")
importFrom("stats", "approx", "cor", "cov", "quantile", "rnorm", "runif", "sd")
